.screen{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: white;
    transition: .4s;
    overflow-y: auto;
}

.screen.dark {
    background-color: #050505;
    color: #1f242d;
}