.header {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 64px;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: center;
}

.header.dark {
  background-color: #2d2d2d;
}

.header > nav {
  width: 80%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header > nav > .homeBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px;
  color: rgba(48, 197, 255, 1);
  fill: rgba(48, 197, 255, 1);
  stroke: rgba(48, 197, 255, 1);
  transition:
    color 0.4s,
    fill 0.4s;
}

.header.dark > nav > .homeBtn {
  stroke: #2d2d2d;
}

.header > nav > .homeBtn:hover {
  color: rgba(48, 197, 255, 0.8);
  fill: rgba(48, 197, 255, 0.8);
}

.header > nav > .homeBtn > .logo {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

.header > nav > .homeBtn > .logoText {
  font-size: 24px;
  font-weight: bold;
}

.searchBlock {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  overflow: hidden;
  border-radius: 2rem;
  animation: searchBlock 0.4s;
}

.searchBlock > .searchBtn {
  position: absolute;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(48, 197, 255, 1);
  transition:
    background-color 0.2s,
    color 0.4s;
}

.searchBlock.dark > .searchBtn {
  color: #2d2d2d;
}

.searchBlock > .searchBtn:hover {
  background-color: rgb(0, 166, 232);
}

.searchBlock > .searchBody {
  margin-left: auto;
  width: 0;
  height: 32px;
  border: 1px solid #e5e7eb;
  border-radius: 2rem;
  transition: box-shadow 0.4s;
  overflow: hidden;
  animation: searchBody 0.6s forwards;
  animation-delay: 0.4s;
}

.searchBlock > .searchBody:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.searchBlock.dark > .searchBody:hover {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.searchBlock > .searchBody > .selectTypeSearch {
  width: calc(100% - 40px);
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 6px;
  overflow: hidden;
}

.searchBlock > .searchBody > .selectTypeSearch > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #e5e7eb;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.4s;
  opacity: 0;
  animation: selectTypeSearchShow 0.6s forwards;
  animation-delay: 1s;
}

.searchBlock > .searchBody > .selectTypeSearch > button:hover {
  color: rgba(48, 197, 255, 1);
}

.searchBlock > .searchBody > .selectTypeSearch > hr {
  width: 1px;
  height: 16px;
  border: none;
  border-left: 1px solid #e5e7eb;
}

.header > nav > .burgermenuBtn {
  position: relative;
  border: 1px solid #e5e7eb;
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition:
    box-shadow 0.4s,
    border-color 0.4s;
  animation: burgermenuBtn 1s forwards;
}

.header > nav > .burgermenuBtn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header.dark > nav > .burgermenuBtn:hover {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.header > nav > .burgermenuBtn > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: color 0.4s;
}

.header > nav > .burgermenuBtn > div:last-child {
  position: absolute;
  right: 4px;
  background-color: #e5e7eb;
}

.header.dark > nav > .burgermenuBtn > div:last-child {
  color: #2d2d2d;
}

.header.dark > nav > .burgermenuBtn > div {
  color: white;
}

@keyframes searchBody {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes searchBlock {
  0% {
    width: 0;
  }
  100% {
    width: 300px;
  }
}

@keyframes selectTypeSearchShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes burgermenuBtn {
  0% {
    width: 40px;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 76px;
  }
}

@media screen and (max-width: 780px) {
  .header > nav {
    width: 95%;
  }

  .header > nav > .burgermenuBtn {
    width: 40px;
    border-radius: 100%;
  }

  .header > nav > .burgermenuBtn > div:first-child {
    display: none;
  }

  @keyframes burgermenuBtn {
    0% {
      width: 40px;
    }
    100% {
      width: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header > nav > .homeBtn > .logoText {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header > nav > .homeBtn > .logo {
    display: none;
  }

  .searchBlock {
    width: calc(100% - 100px);
  }

  @keyframes searchBlock {
    0% {
      width: 0;
    }
    100% {
      width: calc(100% - 100px);
    }
  }
}
