@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


button {
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}